.about-responsive {
    display: none;
  }
  
  .about-desk {
    margin-top: 50px;
  }

  .content_title h1 {
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: bold;
  }

  .content_title h2 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: bold;
  }
  
  .imguno,
  .imgdos,
  .imgtres {
    box-shadow: 15px -15px 0px rgb(43, 99, 131)
  }
  
  .section__container-responsive {
    position: relative;
    z-index: 5020;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 250px;
    color: $color-fuente-principal;
    text-align: center;
    width: 33%;
    font-family: $font-family-secundario;
    font-size: 19px;
    .imguno-responsive,
    .imgdos-responsive,
    .imgtres-responsive {
      width: 85vw;
      box-shadow: 10px -10px 0px rgb(43, 99, 131);
    }
  }