@import "_index";
@import "_sobrenosotros";
@import "_eventos";
@import "_artistas";
@import "_contacto";

// ---------------------------------- MENU DE NAVEGACION --------------------------------

.nav-desk {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    position: relative;
    top: 0;
    z-index: 5;
  }

.redes {
    font-size: 12px;
}

// ---------------------------------- BACKGROUND ---------------------------------------

.backimg {
  height: 1000px;
  width: 99%;
  position: absolute;
  top: 0;
  background-image: url(../images/background/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .backimg:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    background-image: url(../images/bg-overlay.png);
    background-repeat: repeat;
    background-size: 1px 1px;
  }
}

// ------------------------------------------- FOOTER --------------------------------------------

.footer {
  position: relative;
  z-index: 1000;
  font-family: 'Open Sans', sans-serif;
}


// ------------------------------------------- MEDIA QUERIES --------------------------------------------


@media screen and (max-width: 399px) {

  // INDEX.HTML

  .backimg {
    background-image: url(../images/background/back.jpg);
    .backimg:before {
      display: none;
      overflow: hidden;
    }
  }

  .container__itemuno {
    width: 40vw;
    right: 85px;
  }
  
  .container__itemdos {
    width: 40vw;
    left: 100px;
  }
  
  .redes {
    font-size: 15px;
    margin-left: 30px;
  }

  .carrousel {
    margin-left: -60px;
    width: 100vw;
  }

  // SOBRE NOSOTROS

  .about-desk {
    display: none;
  }

  .about-responsive {
    display: block;
  }

  .section__container-responsive {
    width: 100vw;
    margin-top: 160px;
  }

  // EVENTOS

  .cardevent__container{
    width: 100vw;
    grid-template-columns: 300px;
    grid-template-rows: repeat(28, 350px);
    margin-right: 720px;
    margin-top: 125px;
    overflow: hidden;
    .cardevent__item {
      margin-left: 10px;
    }
  }

  // ARTISTAS

  .cards__container {
    width: 100vw;
    display: grid;
    grid-template-columns: 200px;
    margin-left: -25px;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    .cards__item {
      width: 250px;
      height: 270px;
      p {
        margin-left: 12px;
      }
    }
  }

  // CONTACTO

  .form__info {
    display: none;
  }

}

@media screen and (min-width: 400px) and (max-width:600px) {

  // INDEX.HTML

  .backimg {
    background-image: url(../images/background/back.jpg);
    .backimg:before {
      display: none;
      overflow: hidden;
    }
  }

  .nav-desk {
    width: 100vw;
  }

  .container__itemuno {
    width: 40vw;
    right: 85px;
  }
  
  .container__itemdos {
    width: 40vw;
    left: 100px;
  }

  .redes {
    font-size: 14px;
    margin-left: 40px;
  }

  .carrousel {
    position: relative;
    right: 70px;
    width: 100vw;
  }

  // SOBRE NOSOTROS

  .nav-desk {
    width: 82vw;
  }

  .about-desk {
    display: none;
  }

  .about-responsive {
    display: block;
  }

  .section__container-responsive {
    width: 100vw;
    margin-top: 160px;
  }

  // EVENTOS

   .cardevent__container{
    width: 100vw;
    grid-template-columns: 300px;
    grid-template-rows: repeat(28, 350px);
    margin-right: 720px;
    margin-top: 125px;
    overflow: hidden;
    .cardevent__item {
      margin-left: 10px;
    }
  }

  // ARTISTAS

  .cards__container {
    grid-template-columns: 200px 200px;
  }

  // CONTACTO 

  .form__container {
    min-width: 400px;
    .form__item {
      min-width: 250px;
      button {
        position: relative;
        left: -10px;
      }
    }
  }

  .form__info {
    display: none;
  }
}

@media screen and (min-width: 601px) and (max-width:656px) {

  // INDEX.HTML

  .backimg {
    background-image: url(../images/background/back.jpg);
    .backimg:before {
      display: none;
      overflow: hidden;
    }
  }

  .redes {
    font-size: 17px;
    margin-left: 60px;
  }

  // SOBRE NOSOTROS

  .nav-desk {
    width: 82vw;
  }

  .about-desk {
    display: none;
  }

  .about-responsive {
    display: block;
  }

  .section__container-responsive {
    width: 100vw;
    margin-top: 160px;
  }

  // EVENTOS

  .cardevent__container{
    width: 100vw;
    grid-template-columns: 300px 300px;
    grid-template-rows: repeat(28, 375px);
    margin-right: 720px;
    margin-top: 125px;
    overflow: hidden;
    .cardevent__item {
      margin-left: 10px;
    }
  }

  // ARTISTAS

  .cards__container {
    grid-template-columns: 200px 200px;
  }

  // CONTACTO

  .form__container {
    min-width: 500px;
    .form__item {
      min-width: 450px;
      margin-left: 30px;
      button {
        position: relative;
        left: 50px;
      }
    }
  }

  .form__info {
    display: none;
  }
}

@media screen and (min-width: 657px) and (max-width:800px) {

  // INDEX.HTML

  .backimg {
    background-image: url(../images/background/back.jpg);
    .backimg:before {
      display: none;
      overflow: hidden;
    }
  }

  .redes {
    font-size: 20px;
    margin-left: 80px;
  }

  // SOBRE NOSOTROS

  .nav-desk {
    width: 82vw;
  }

  .about-desk {
    display: none;
  }

  .about-responsive {
    display: block;
  }

  .section__container-responsive {
    width: 100vw;
    margin-top: 160px;
  }

  // EVENTOS

  .cardevent__container{
    width: 100vw;
    grid-template-columns: 300px 300px;
    grid-template-rows: repeat(28, 375px);
    margin-right: 720px;
    margin-top: 125px;
    overflow: hidden;
    .cardevent__item {
      margin-left: 10px;
    }
  }
}

@media screen and (min-width: 801px) and (max-width:1023px) {
  // INDEX.HTML

  .backimg {
    background-image: url(../images/background/back.jpg);
    .backimg:before {
      display: none;
      overflow: hidden;
    }  
  }

  .redes {
    font-size: 20px;
    margin-left: 100px;
  }

  // SOBRE NOSOTROS

  .nav-desk {
    width: 82vw;
  }

  .about-desk {
    display: none;
  }

  .about-responsive {
    display: block;
  }

  .section__container-responsive {
    width: 100vw;
    margin-top: 160px;
  }

  // EVENTOS

  .cardevent__container{
    width: 100vw;
    grid-template-columns: 245px 245px 245px;
    grid-template-rows: repeat(10, 300px);
    position: relative;
    left: -15px;
    .cardevent__item {
      margin-left: 10px;
      width: 250px;
    }
  }
}

@media screen and (min-width: 1024px) and (max-width:1200px) {

  .cardevent__container{
    width: 100vw;
    grid-template-columns: 235px 235px 235px 235px;
    grid-template-rows: repeat(10, 300px);
    position: relative;
    left: -15px;
    .cardevent__item {
      margin-left: 10px;
      width: 230px;
    }
  }
}

