// ---------------------------------- MENU DE NAVEGACION --------------------------------

.nav-desk {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    position: relative;
    top: 0;
    z-index: 5;
  }

.redes {
    font-size: 12px;
}

// ---------------------------------- BACKGROUND ---------------------------------------

.backimg {
  height: 1000px;
  width: 99%;
  position: absolute;
  top: 0;
  background-image: url(../images/background/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .backimg:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    background-image: url(../images/bg-overlay.png);
    background-repeat: repeat;
    background-size: 1px 1px;
  }
}

// ------------------------------------------- LOGOS --------------------------------------------

.container__itemuno {
  position: relative;
  right: 100px;
  top: 150px;
  img {
    width: 175px;
  }
}

.container__itemdos {
  position: relative;
  left: 80px;
  img {
    width: 150px;
  }
}

.text__item span {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

// ------------------------------------------- FOOTER --------------------------------------------

.footer {
  position: relative;
  z-index: 1000;
  font-family: 'Open Sans', sans-serif;
}

// --------------------------------------- SOBRE NOSOTROS --------------------------------------------

.about-responsive {
  display: none;
}

.about-desk {
  margin-top: 50px;
}

.imguno,
.imgdos,
.imgtres {
  box-shadow: 15px -15px 0px rgb(43, 99, 131)
}

.section__container-responsive {
  position: relative;
  z-index: 5020;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-top: 250px;
  color: #fff;
  text-align: center;
  width: 33%;
  font-family: "Montserrat";
  font-size: 19px;
  .imguno-responsive,
  .imgdos-responsive,
  .imgtres-responsive {
    width: 85vw;
    box-shadow: 10px -10px 0px rgb(43, 99, 131);
  }
}

// ------------------------------- EVENTOS ------------------------------------

.cardevent__container{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 275px 275px 275px 275px;
  grid-template-rows: 300px 300px 300px 300px 300px 300px 300px;
  gap: 20px;
  .cardevent__item {
    position: relative;
    z-index: 6000;
    width: 275px;
    height: 300px;
  }
  .cardevent__face {
    position: absolute;
    z-index: 6000;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
  }
  .cardevent__front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    h3 {
      font-size: 25px;
      font-weight: bold;
      position: absolute;
      top: 240px;
      width: 100%;
      height: 60px;
      color: #fff;
      background: rgba(0, 0, 0, 0.7);
      text-align: center;
    }
    .title {
      font-family: "Montserrat";
      font-weight: bold;
    }
    .descp {
      font-family: "Montserrat";
      font-weight: normal;
      font-size: 15px;
      margin-left: -50px;
    }
  }
  .cardevent__back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
    .link {
      border-top: solid 1px #f3f3f3;
      height: 50px;
      line-height: 60px;
      a {
        font-family: "Roboto";
        padding: 8px;
        text-decoration: none;
        color: #f3f3f3;
        border: 1px solid rgba(255, 255, 255, 0.3);
      }
      a:hover {
        border: 1px solid rgba(255, 255, 255, 1);
        transition: all 0.3s ease-in-out;
      } 
    }
    h3 {
      font-family: "Montserrat";
      font-size: 22px;
      margin-top: 5px;
      letter-spacing: 2px;
    }
    p {
      letter-spacing: 1px;
      font-family: "Montserrat";
      font-size: 11px;
    } 
  }
}

.cardevent__item:hover .cardevent__front {
  transform: perspective(600px) rotateY(180deg);
}

.cardevent__item:hover .cardevent__back {
  transform: perspective(600px) rotateY(360deg);
}

// ------------------------------------------------- ARTISTAS -------------------------------------------------

.cards__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  margin-left: 15px;
  justify-content: center;
  margin-bottom: 25px;
  .cards__item {
    margin-top: 35px;
    width: 180px;
    height: 220px;
    position: relative;
    z-index: 5000;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.9);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: grayscale(50%) blur(0px) opacity(100%);
      transition: all 500ms ease-out;
    }
    .cards__capa {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      transition: all 500ms ease-out;
      opacity: 0;
      visibility: hidden;
      text-align: center;
      h3 {
        color: #fff;
        font-size: 16px;
        font-family: "Roboto";
        margin-bottom: 220px;
        transition: all 500ms ease-out;
        margin-top: 20px;
      }
      p {
        color: #fff;
        font-size: 13px;
        font-family: "Montserrat";
        width: 100%;
        max-width: 220px;
        margin-top: -70px;
      }
      h4 {
        color: #fff;
        font-size: 12px;
        position: relative;
        top: 40px;
        padding: 3px;
        font-family: "Montserrat";
        display: inline;
        border: 1px solid #fff;
        transition: all 500ms ease-out;
        cursor: pointer;
      }
      a {
        text-decoration: none;
        color: #FFF;
      }
    }
  }
  .cards__item:hover > .cards__capa {
    opacity: 1;
    visibility: visible;
  }
  .cards__item:hover > .cards__capa h3 {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .cards__item:hover img {
    transform: scale(1.2);
    filter: grayscale(0) blur(0px) opacity(100%);
  }
  .cards__item > .cards__capa a:hover {
    color: #000000;
  }
  
  .cards__item > .cards__capa h4:hover {
    background-color: #fff;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: bold;
    transition: all 0.4s;
    color: #000000;
  }
}

// -------------------------------------------------- CONTACTO -------------------------------------------

.form__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;
  .form__item {
    width: 350px;
    height: 700px;
    background-color: rgb(15, 14, 14);
    color: #fff;
    font-family: "Montserrat", sans-serif;
    h1 {
      text-align: center;
      margin-top: 10px;
      font-size: 25px;
    }
    form {
      margin-top: 15px;
    }
    .input {
      margin-left: 10px;
      width: 90%;
      outline: none;
      background: none;
      border: none;
      color: #fff;
      border-bottom: 1px solid red;
    }
    .label {
      margin-left: 10px;
      margin-top: 10px;
      width: 90%;
      outline: none;
      background: none;
      border: none;
      color: #fff;
    }
    input, textarea {
      border-bottom: 1px solid red;
    }
    button {
      background-color: red;
      border: none;
      margin-top: 55px;
      margin-left: 80px;
      cursor: pointer;
      .btn {
        font-size: 15px;
        border: none;
        margin-top: 8px;
        width: 200px;
        color: #fff;
        background-color: transparent;
        font-family: "Montserrat";
        cursor: pointer;
      }
    }
    button:hover {
      background-color: rgb(140, 1, 1);
    }
  }
}

.form__info {
  width: 300px;
  height: 700px;
  color: #fff;
  background-color: #000;
  padding-left: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  h2 {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  span {
    margin-left: 7px;
  }
  
  h3 {
    margin-top: 50px;
    font-weight: unset;
    font-size: 13px;
  }
  
  h4 {
    margin-top: 50px;
  }
}

// ----------------------------------------------- MEDIA QUERIES --------------------------------------------------

@media screen and (max-width: 399px) {

  // INDEX.HTML

  .backimg {
    background-image: url(../images/background/back.jpg);
    .backimg:before {
      display: none;
      overflow: hidden;
    }
  }

  .container__itemuno {
    width: 40vw;
    right: 85px;
  }
  
  .container__itemdos {
    width: 40vw;
    left: 100px;
  }
  
  .redes {
    font-size: 15px;
    margin-left: 30px;
  }

  .carrousel {
    margin-left: -60px;
    width: 100vw;
  }

  // SOBRE NOSOTROS

  .about-desk {
    display: none;
  }

  .about-responsive {
    display: block;
  }

  .section__container-responsive {
    width: 100vw;
    margin-top: 160px;
  }

  // EVENTOS

  .cardevent__container{
    width: 100vw;
    grid-template-columns: 300px;
    grid-template-rows: repeat(28, 350px);
    margin-right: 720px;
    margin-top: 125px;
    overflow: hidden;
    .cardevent__item {
      margin-left: 10px;
    }
  }

  // ARTISTAS

  .cards__container {
    width: 100vw;
    display: grid;
    grid-template-columns: 200px;
    margin-left: -25px;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    .cards__item {
      width: 250px;
      height: 270px;
    }
  }

  // CONTACTO

  .form__info {
    display: none;
  }

}

@media screen and (min-width: 400px) and (max-width:600px) {

  // INDEX.HTML

  .backimg {
    background-image: url(../images/background/back.jpg);
    .backimg:before {
      display: none;
      overflow: hidden;
    }
  }

  .nav-desk {
    width: 100vw;
  }

  .container__itemuno {
    width: 40vw;
    right: 85px;
  }
  
  .container__itemdos {
    width: 40vw;
    left: 100px;
  }

  .redes {
    font-size: 14px;
    margin-left: 40px;
  }

  .carrousel {
    position: relative;
    right: 70px;
    width: 100vw;
  }

  // SOBRE NOSOTROS

  .nav-desk {
    width: 82vw;
  }

  .about-desk {
    display: none;
  }

  .about-responsive {
    display: block;
  }

  .section__container-responsive {
    width: 100vw;
    margin-top: 160px;
  }

  // EVENTOS

   .cardevent__container{
    width: 100vw;
    grid-template-columns: 300px;
    grid-template-rows: repeat(28, 350px);
    margin-right: 720px;
    margin-top: 125px;
    overflow: hidden;
    .cardevent__item {
      margin-left: 10px;
    }
  }

  // ARTISTAS

  .cards__container {
    grid-template-columns: 200px 200px;
  }

  // CONTACTO 

  .form__container {
    min-width: 400px;
    .form__item {
      min-width: 250px;
      button {
        position: relative;
        left: -10px;
      }
    }
  }

  .form__info {
    display: none;
  }
}

@media screen and (min-width: 601px) and (max-width:656px) {

  // INDEX.HTML

  .backimg {
    background-image: url(../images/background/back.jpg);
    .backimg:before {
      display: none;
      overflow: hidden;
    }
  }

  .redes {
    font-size: 17px;
    margin-left: 60px;
  }

  // SOBRE NOSOTROS

  .nav-desk {
    width: 82vw;
  }

  .about-desk {
    display: none;
  }

  .about-responsive {
    display: block;
  }

  .section__container-responsive {
    width: 100vw;
    margin-top: 160px;
  }

  // EVENTOS

  .cardevent__container{
    width: 100vw;
    grid-template-columns: 300px 300px;
    grid-template-rows: repeat(28, 375px);
    margin-right: 720px;
    margin-top: 125px;
    overflow: hidden;
    .cardevent__item {
      margin-left: 10px;
    }
  }

  // ARTISTAS

  .cards__container {
    grid-template-columns: 200px 200px;
  }

  // CONTACTO

  .form__container {
    min-width: 500px;
    .form__item {
      min-width: 450px;
      margin-left: 30px;
      button {
        position: relative;
        left: 50px;
      }
    }
  }

  .form__info {
    display: none;
  }
}

@media screen and (min-width: 657px) and (max-width:800px) {

  // INDEX.HTML

  .backimg {
    background-image: url(../images/background/back.jpg);
    .backimg:before {
      display: none;
      overflow: hidden;
    }
  }

  .redes {
    font-size: 20px;
    margin-left: 80px;
  }

  // SOBRE NOSOTROS

  .nav-desk {
    width: 82vw;
  }

  .about-desk {
    display: none;
  }

  .about-responsive {
    display: block;
  }

  .section__container-responsive {
    width: 100vw;
    margin-top: 160px;
  }

  // EVENTOS

  .cardevent__container{
    width: 100vw;
    grid-template-columns: 300px 300px;
    grid-template-rows: repeat(28, 375px);
    margin-right: 720px;
    margin-top: 125px;
    overflow: hidden;
    .cardevent__item {
      margin-left: 10px;
    }
  }
}

@media screen and (min-width: 801px) and (max-width:1023px) {
  // INDEX.HTML

  .backimg {
    background-image: url(../images/background/back.jpg);
    .backimg:before {
      display: none;
      overflow: hidden;
    }  
  }

  .redes {
    font-size: 20px;
    margin-left: 100px;
  }

  // SOBRE NOSOTROS

  .nav-desk {
    width: 82vw;
  }

  .about-desk {
    display: none;
  }

  .about-responsive {
    display: block;
  }

  .section__container-responsive {
    width: 100vw;
    margin-top: 160px;
  }

  // EVENTOS

  .cardevent__container{
    width: 100vw;
    grid-template-columns: 245px 245px 245px;
    grid-template-rows: repeat(10, 300px);
    position: relative;
    left: -15px;
    .cardevent__item {
      margin-left: 10px;
      width: 250px;
    }
  }
}

@media screen and (min-width: 1024px) and (max-width:1200px) {

  .cardevent__container{
    width: 100vw;
    grid-template-columns: 235px 235px 235px 235px;
    grid-template-rows: repeat(10, 300px);
    position: relative;
    left: -15px;
    .cardevent__item {
      margin-left: 10px;
      width: 230px;
    }
  }
}

